*{
    margin: 0;
    padding: 0;
    font-family: "Space Mono", Icons;
    scroll-behavior: smooth;
}



.welcome{
    height: 100vh;
    display: flex;
    background: #1f1f1f;
    flex-direction: column;
    align-items: center;
}

.sign{
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    
}

.sign span{
    font-size: 3vw;
}

.menu{
    top: 0;
    display: flex;
    width: 100%;
    height: 13vh;
    flex-direction: row;
    justify-content:flex-end;

}

.menu-item {
    width: 10%;
    color: white;

    align-self: center;
}

.pages {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.pages:hover {
    text-decoration: underline;
}

.proceed{
    color: white;
    text-decoration: none;
    max-width: 50vh;
}

.auto-type {
    word-wrap: break-word;
}

.proceed h1:hover {
    background: rgb(36, 36, 36)
}

.space{
    height:75vh;
    background: #252525;
    padding-top: 10vh;
}

#about{
    min-height: 110vh;
    display: flex;
    background: #1f1f1f;
    flex-direction: column;
    align-items: center;
}

.canvas{
    height: 100%;
    min-width: 40vw;
    max-width: 40vw;
    background:#323639;
    font-family: TypeWriter, sans-serif;
   
    
}

.contain {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.contain > * {
    margin: 5vh;
    color: white;
    border: 2px solid white;
    border-radius: 1vh;
    height: 100%;
}



.canvas h2{
    margin: 3vh;
    font-size: 21px;
    line-height: 4vh;
    min-height: 100vh;
    
}


#work{
    min-height: 110vh;
    display: flex;
    background: #1f1f1f;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.grid{
    margin: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
    justify-content:center;
    gap: 7vw;
    align-items: center;
    
}

.grid > div{
    justify-content: center;
    text-align: center;
    border-radius: 1vh;
    width: 25vw;
    height: 20vw;

    
}

.post img {
    width: 100%;
    height: 90%;
    border-radius: 1vw;
}

.post .desc {
    color: white;
    font-size: 1vw;
}

#contact{
    min-height: 100vh;
    display: flex;
    background: #1f1f1f;
    flex-direction: column;
    align-items: center;
}



form{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    padding: 5vh;
    gap: 1vh;
    width: 30vw;
    align-items:stretch;
}

.title{
    color: white;
    font-size: 3vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-decoration: underline;
    

}

#submit-btn{
    width: 100%;
    height: 5vh;
    color: white;
    border: 2px solid white;
    border-radius: 1vh;
    background: rgb(51, 51, 51);
    font-size: 25px;
}

#name, #email{
    width:100%;
    height:3vh;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
}

.social-link{
    text-decoration: none;

   

}

.icon{
    width: 3vw;

}

footer {
    color: white; 
    width:100%; 
    height: 3vh;
    text-align: center;
    font-size: 1vw;
}
